.appbar-link {
  color: black;
  display: block;
  padding-left: 2em;
  padding-right: 2em;
}
.appbar-link:hover {
  color: #474747;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2.6rem !important;
  }
  .subtitle {
    font-size: 2rem !important;
  }
}